<p id="notice"><%= notice %></p>

<p>
  <strong>Tite:</strong>
  <%= @show.tite %>
</p>

<p>
  <strong>Description:</strong>
  <%= @show.description %>
</p>

<p>
  <strong>Episoded:</strong>
  <%= @show.episoded %>
</p>

<p>
  <strong>Season:</strong>
  <%= @show.season %>
</p>

<p>
  <strong>Air date:</strong>
  <%= @show.air_date %>
</p>

<p>
  <strong>Rec date:</strong>
  <%= @show.rec_date %>
</p>

<p>
  <strong>Image:</strong>
  <%= @show.image_id %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
